<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT" />

            <data android:mimeType="vnd.android.cursor.dir/event" />
        </intent>
    </queries>

    <application
        android:name=".FastestLapApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastestLap"
        tools:targetApi="31">
        <activity
            android:name=".ui.junior.Formula3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.junior.Formula2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.welcome.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.event.UpcomingEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.standing.ConstructorsStandingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.standing.DriversStandingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.event.EventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.event.RaceAndSprintResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.live.LiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.event.PastEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bio.TrackBioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bio.ConstructorBioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bio.DriverBioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- FileProvider for sharing generated .ics files with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>