<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconfl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconfl"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastestLap"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.HomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.event.UpcomingEventsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.standing.ConstructorsStandingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.standing.DriversStandingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.event.EventActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.event.PastEventsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.bio.TrackBioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.bio.ConstructorBioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.bio.DriverBioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>